/* Table.module.css */
.tables {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-color: black 1px thin;
}

.table {
  background-color: #f1f1f1;
}
.th {
  background-color: #0fa9b3;
  color: white;
}
tr:nth-child(even) {
  background-color: #adccce;
}
tr:nth-child(odd) {
  background-color: #d8dae3;
}
td {
  text-align: left;
}
.tables1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-color: black 1px thin;
}
